body{
    margin: 0px;
}


.talk{
    font-family: arial;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    margin-left: 9px;
    top: -25px;
    position: relative;
}

.yt{
    height: 42px; 
    width: 42px;
    left: 0px;
}

.view{
    font-family: arial;
    opacity: 80%;
    margin-top: -35px;
    position: relative;
    margin-left: 9px;
    font-size: 14px;

    
}

.artist{
    font-family: arial;
    opacity: 80%;
    margin-top: 20px;
    position: relative;
    margin-left: 9px;
    font-size: 14px;

}

.desc{
    font-family: arial;
    opacity: 80%;
    margin-top: 20px;
    position: relative;
    margin-left: 9px;
    width: 270px;
    font-size: 14px;

}

.io{
    font-family: arial;
    opacity: 80%;
    margin-top: -10px;
    position: relative;
    margin-left: 9px;
    width: 270px;
    font-size: 14px;
}

.ceo{
    font-family: arial;
    opacity: 80%;
    margin-top: -10px;
    position: relative;
    margin-left: 9px;
    width: 270px;
    font-size: 14px;
    
}
.apple{
    height: 30px; 
    width: 40px;
    left: -20px;
    margin-top: 60px;
}

.shop{
    background-color:#e34140;
    color: white;
    font-family: arial;
    font-size: 15px;
    text-align: center;
    
    padding: 16px 16px 16px 16px;
    margin-left: 8px;
    margin-right: 8px;
}

a{
    color: white;
    text-decoration-line:none ;
}

a:hover{
    text-decoration-line: underline ;
}

div{
    margin-top: 100px;
}